.error {
    background-color: #EA2027;  /*erro quando nao tiver a palavra typeme */
}

/* add spacing between words */ 
span::after { 
    
    content:"";
    display: inline-block;
    width: 6px;
}
.highlight {
    color: #FFC312;
    text-decoration: underline;
}